url = dict(                                                     # urls:
    static='http://<your_server>/',                             # where your covers are placed
    default='http://<your_server>/default/',                    # default covers if mp3 file has no cover
    albums_covers = 'http://<your_server>/albums/',             # for album covers
    artists_covers ='http://<your_server>/artists/',            # for artists covers
    stats='http://<your_server/status-json.xsl'                 # icecast stats page (JSON)
)
path = dict(                                                    # dirs on server:
    covers='/<webserver_root>/static/',                         # where covers will be placed
    default='/<webserver_root>/static/default/',                # where default radio's covers are located
    music='/var/radio/music/',                                  # where all your mp3's are stored
    albums_covers='/<webserver_root>/static/albums/',           # where all album covers stored
    artists_covers='/<webserver_root>/static/artists/',         # where all artist's covers located
    log='/<webserver_root>/logs/api.log'                        # api log file. Must be writeable for webserver user
)
files = dict(
    cover='cover.jpg'                                           # default name for album art file
)
stats_stream = '/stream'                                        # man stream for get current playing song
cover_size = 600                                                # default cover size (width and height)
